## Data Conversion to CSV files 

We generated 100 data points using faker library. We need more features like:
- Age
- Native language
- Expense choices

In [41]:
from faker import Faker
from faker.providers import internet, geo
import pandas as pd
import random

faker = Faker()
df = []
gender = ['Male','Female']
class = ['B']

for n in range(100):
    df.append({'Name':faker.name(), 'gender': gender[random.randint(0,1)] ,'Job':faker.job() ,'Address':faker.address(), 'Co-ordinates':faker.local_latlng(country_code="IN", coords_only=False)})

df =  pd.DataFrame(df)
print(df)

                 Name  gender                                  Job  \
0   Christine Jackson  Female             Advertising art director
1        James Bolton  Female                     Sports therapist
2         Mark Norman  Female           Museum/gallery conservator
3        Samuel Mason  Female             Print production planner
4        Angela Hanna  Female                       Phytotherapist
..                ...     ...                                  ...
95   Andrew Rodriguez    Male               Occupational hygienist
96    Kristen Stewart    Male  Social research officer, government
97    Cynthia Benitez    Male                          Hydrologist
98      Jacob Mueller    Male                       Pharmacologist
99          Todd Wong    Male               Sales professional, IT

                                              Address  \
0                898 Timothy Loop\nNew Anna, CT 26951
1             26397 Leslie Burg\nCathymouth, LA 20448
2    393 Darlene Springs Apt. 791\nMaymouth, MD 47614
3             15424 Ryan Ports\nBarbarafurt, MN 05678
4           0444 Savage Turnpike\nWiseville, HI 82471
..                                                ...
95                   PSC 8412, Box 6307\nAPO AP 00687
96    721 Christopher Junctions\nDennisside, SD 65290
97     185 Brooke Cove\nPort Christianmouth, CO 93537
98         83216 Barr Overpass\nWest Nicole, CA 52229
99  62881 Kevin Shores Apt. 280\nJosephchester, NM...

                                         Co-ordinates
0    (19.21667, 73.08333, Dombivli, IN, Asia/Kolkata)
1       (22.75218, 72.68533, Kheda, IN, Asia/Kolkata)
2      (22.10194, 85.37752, Barbil, IN, Asia/Kolkata)
3   (12.04161, 75.35927, Talipparamba, IN, Asia/Ko...
4         (26.2649, 81.54855, Jais, IN, Asia/Kolkata)
..                                                ...
95  (10.58806, 77.24779, Udumalaippettai, IN, Asia...
96      (14.62072, 74.83554, Sirsi, IN, Asia/Kolkata)
97   (29.21399, 78.95693, Kashipur, IN, Asia/Kolkata)
98   (19.21667, 73.08333, Dombivli, IN, Asia/Kolkata)
99  (21.46527, 83.97573, Sambalpur, IN, Asia/Kolkata)

[100 rows x 5 columns]

In [3]:
df.head(5)

,Name,Job,Address,Co-ordinates
0,Kevin Joyce,Forest/woodland manager,"0021 Sandra Drive\nSchroederstad, ID 44958","(23.18, 88.58, Aistala, IN, Asia/Kolkata)"
1,Miguel Sandoval,Oncologist,USNS Thomas\nFPO AA 48138,"(15.5439, 73.7553, Calangute, IN, Asia/Kolkata)"
2,Rebecca Parker,"Nurse, learning disability",Unit 3094 Box 0713\nDPO AA 13320,"(23.18, 88.58, Aistala, IN, Asia/Kolkata)"
3,Sally Cruz,Television/film/video producer,"6562 Antonio Viaduct Suite 229\nNew Larryside,...","(28.92694, 78.23456, Bachhraon, IN, Asia/Kolkata)"
4,Kenneth Patterson,Cytogeneticist,"22189 Marcus Gardens\nHuntertown, WI 74390","(23.49668, 86.68363, Adra, IN, Asia/Kolkata)"

In [9]:
df['Co-ordinates'].str[2]

0         Aistala
1       Calangute
2         Aistala
3       Bachhraon
4            Adra
         ...
95         Kundla
96    Betamcherla
97          Kheda
98      Gariadhar
99       Srinagar
Name: Co-ordinates, Length: 100, dtype: object

In [13]:
# Best way to clean data
df['Lat'], df['Long'], df['City'], df['Country'], df['Timezone'] = zip(*df['Co-ordinates'])

In [16]:
del df['Co-ordinates']

In [34]:
df.to_csv('dataset.csv',index=False)

## Create a recommender system

**Resources**

- https://www.analyticsvidhya.com/blog/2018/06/comprehensive-guide-recommendation-engine-python/
- https://apple.github.io/turicreate/docs/userguide/recommender/
- https://www.analyticsvidhya.com/blog/2015/12/started-graphlab-python/
- https://github.com/turi-code/tutorials

In [20]:
df['Name'].nunique()

100

In [38]:
actions

Columns:
	Name	str
	Job	str
	Address	str
	Lat	float
	Long	float
	City	str
	Country	str
	Timezone	str

Rows: 100

Data:
+-----------------------+--------------------------------+
|          Name         |              Job               |
+-----------------------+--------------------------------+
|      Kevin Joyce      |    Forest/woodland manager     |
|    Miguel Sandoval    |           Oncologist           |
|     Rebecca Parker    |   Nurse, learning disability   |
|       Sally Cruz      | Television/film/video producer |
|   Kenneth Patterson   |         Cytogeneticist         |
|    Andrea Trujillo    |             Banker             |
|      Hannah Villa     |    Doctor, general practice    |
| Benjamin Buchanan PhD |  Engineer, civil (consulting)  |
|      Marcia Kelly     |           Homeopath            |
|      Amanda Bruce     |      Early years teacher       |
+-----------------------+--------------------------------+
+-------------------------------+----------+----------+-------------+---------+
|            Address            |   Lat    |   Long   |     City    | Country |
+-------------------------------+----------+----------+-------------+---------+
| 0021 Sandra Drive\nSchroed... |  23.18   |  88.58   |   Aistala   |    IN   |
|   USNS Thomas\nFPO AA 48138   | 15.5439  | 73.7553  |  Calangute  |    IN   |
| Unit 3094 Box 0713\nDPO AA... |  23.18   |  88.58   |   Aistala   |    IN   |
| 6562 Antonio Viaduct Suite... | 28.92694 | 78.23456 |  Bachhraon  |    IN   |
| 22189 Marcus Gardens\nHunt... | 23.49668 | 86.68363 |     Adra    |    IN   |
| 2822 Wright Springs Suite ... | 15.45144 | 78.14797 | Betamcherla |    IN   |
| 308 Katherine Falls Apt. 6... | 25.49043 | 85.94001 |    Teghra   |    IN   |
| 1406 Campbell Fall\nRobert... | 26.11527 | 86.59509 |    Supaul   |    IN   |
| 9807 Bailey Turnpike\nGood... | 14.62072 | 74.83554 |    Sirsi    |    IN   |
| 9318 Hughes Land Apt. 345\... | 21.46527 | 83.97573 |  Sambalpur  |    IN   |
+-------------------------------+----------+----------+-------------+---------+
+--------------+
|   Timezone   |
+--------------+
| Asia/Kolkata |
| Asia/Kolkata |
| Asia/Kolkata |
| Asia/Kolkata |
| Asia/Kolkata |
| Asia/Kolkata |
| Asia/Kolkata |
| Asia/Kolkata |
| Asia/Kolkata |
| Asia/Kolkata |
+--------------+
[100 rows x 8 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [35]:
import turicreate as tc
actions = tc.SFrame.read_csv('dataset.csv')

Finished parsing file /home/jospaulshajan/InOut6.0/travel_guider/travel_guider/dataset.csv

Parsing completed. Parsed 100 lines in 0.129115 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[str,str,str,float,float,str,str,str]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file /home/jospaulshajan/InOut6.0/travel_guider/travel_guider/dataset.csv

Parsing completed. Parsed 100 lines in 0.064265 secs.

In [39]:
model = tc.recommender.create(actions, 'Name', 'City')

Warning: Ignoring columns Job, Address, Lat, Long, Country, Timezone;

 To use one of these as a rating column, specify the column name to be used as target

    and use a method that allows the use of a target.

Preparing data set.

    Data has 100 observations with 100 users and 55 items.

    Data prepared in: 0.031779s

Training model from provided data.

Gathering per-item and per-user statistics.

+--------------------------------+------------+

| Elapsed Time (Item Statistics) | % Complete |

+--------------------------------+------------+

| 914us                          | 100        |

+--------------------------------+------------+

Setting up lookup tables.

Processing data in one pass using dense lookup tables.

+-------------------------------------+------------------+-----------------+

| Elapsed Time (Constructing Lookups) | Total % Complete | Items Processed |

+-------------------------------------+------------------+-----------------+

| 1.366ms                             | 0.75             | 0               |

| 2.493ms                             | 100              | 55              |

+-------------------------------------+------------------+-----------------+

Finalizing lookup tables.

Generating candidate set for working with new users.

Finished training in 0.00614s

In [50]:
type(model.recommend())

turicreate.data_structures.sframe.SFrame