## Data Conversion to CSV files 

We generated 100 data points using faker library. We need more features like:
- Age
- Native language
- Expense choices

In [61]:
from faker import Faker
from faker.providers import internet, geo
import pandas as pd
import random

faker = Faker()
df = []
gender = ['Male','Female']
class_ = ['Basic', 'Economy', 'Buisness']

for n in range(10000):
    df.append({'Name':faker.name(), 'gender': gender[random.randint(0,1)] , 'prefeerences': class_[random.randint(0,1)],'Job':faker.job() ,'Address':faker.address(), 'Co-ordinates':faker.local_latlng(country_code="IN", coords_only=False)})

df =  pd.DataFrame(df)
print(df)

                  Name  gender prefeerences                             Job  \
0          Erin Cortez  Female        Basic                Graphic designer
1     Dr. Karen Wright    Male      Economy         Water quality scientist
2       Stephanie Chen  Female      Economy                       Archivist
3         Megan Walker    Male      Economy              Facilities manager
4       Leslie Ramirez    Male        Basic                 Producer, radio
...                ...     ...          ...                             ...
9995     Lonnie Watson    Male        Basic                Graphic designer
9996   Denise Gonzalez    Male        Basic  Armed forces technical officer
9997          Ian Lynn  Female      Economy    Fast food restaurant manager
9998      Matthew Hill  Female      Economy                  Retail manager
9999    Matthew Brooks    Male      Economy                    Tree surgeon

                                                Address  \
0       155 Estes Mountain\nWest Benjaminside, DE 50389
1     0704 Olsen Islands Suite 499\nEast Brian, NJ 3...
2       25567 Green Hill Suite 276\nEricmouth, MS 97726
3     91583 Wagner Crossing Apt. 233\nWoodstown, OH ...
4                   866 Boyd Avenue\nLongview, MO 50726
...                                                 ...
9995       630 Michael Hollow\nChristineshire, SC 52565
9996         0128 Joshua Creek\nAndersonmouth, ID 84105
9997       03551 Ward Loop Apt. 847\nCarrview, NV 78654
9998    9930 Kathy Trafficway\nCunninghamstad, ID 51654
9999  522 Young Lodge Apt. 277\nPort Thomasberg, SD ...

                                           Co-ordinates
0     (15.73628, 75.96976, Gajendragarh, IN, Asia/Ko...
1        (23.07492, 88.28637, Pandua, IN, Asia/Kolkata)
2     (10.58806, 77.24779, Udumalaippettai, IN, Asia...
3     (28.92694, 78.23456, Bachhraon, IN, Asia/Kolkata)
4     (11.93381, 79.82979, Puducherry, IN, Asia/Kolk...
...                                                 ...
9995      (25.75728, 75.37991, Deoli, IN, Asia/Kolkata)
9996  (17.54907, 82.85749, Elamanchili, IN, Asia/Kol...
9997  (26.76628, 83.36889, Gorakhpur, IN, Asia/Kolkata)
9998      (22.75218, 72.68533, Kheda, IN, Asia/Kolkata)
9999  (9.82564, 78.25795, Tiruppuvanam, IN, Asia/Kol...

[10000 rows x 6 columns]

In [62]:
df.head(5)

,Name,gender,prefeerences,Job,Address,Co-ordinates
0,Erin Cortez,Female,Basic,Graphic designer,"155 Estes Mountain\nWest Benjaminside, DE 50389","(15.73628, 75.96976, Gajendragarh, IN, Asia/Ko..."
1,Dr. Karen Wright,Male,Economy,Water quality scientist,"0704 Olsen Islands Suite 499\nEast Brian, NJ 3...","(23.07492, 88.28637, Pandua, IN, Asia/Kolkata)"
2,Stephanie Chen,Female,Economy,Archivist,"25567 Green Hill Suite 276\nEricmouth, MS 97726","(10.58806, 77.24779, Udumalaippettai, IN, Asia..."
3,Megan Walker,Male,Economy,Facilities manager,"91583 Wagner Crossing Apt. 233\nWoodstown, OH ...","(28.92694, 78.23456, Bachhraon, IN, Asia/Kolkata)"
4,Leslie Ramirez,Male,Basic,"Producer, radio","866 Boyd Avenue\nLongview, MO 50726","(11.93381, 79.82979, Puducherry, IN, Asia/Kolk..."

In [63]:
df['Co-ordinates'].str[2]

0          Gajendragarh
1                Pandua
2       Udumalaippettai
3             Bachhraon
4            Puducherry
             ...
9995              Deoli
9996        Elamanchili
9997          Gorakhpur
9998              Kheda
9999       Tiruppuvanam
Name: Co-ordinates, Length: 10000, dtype: object

In [64]:
# Best way to clean data
df['Lat'], df['Long'], df['City'], df['Country'], df['Timezone'] = zip(*df['Co-ordinates'])

In [65]:
del df['Co-ordinates']

In [66]:
df.to_csv('dataset.csv',index=False)

## Create a recommender system

**Resources**

- https://www.analyticsvidhya.com/blog/2018/06/comprehensive-guide-recommendation-engine-python/
- https://apple.github.io/turicreate/docs/userguide/recommender/
- https://www.analyticsvidhya.com/blog/2015/12/started-graphlab-python/
- https://github.com/turi-code/tutorials

In [59]:
df['Name'].nunique()

100

In [60]:
actions

Columns:
	Name	str
	Job	str
	Address	str
	Lat	float
	Long	float
	City	str
	Country	str
	Timezone	str

Rows: 100

Data:
+-----------------------+--------------------------------+
|          Name         |              Job               |
+-----------------------+--------------------------------+
|      Kevin Joyce      |    Forest/woodland manager     |
|    Miguel Sandoval    |           Oncologist           |
|     Rebecca Parker    |   Nurse, learning disability   |
|       Sally Cruz      | Television/film/video producer |
|   Kenneth Patterson   |         Cytogeneticist         |
|    Andrea Trujillo    |             Banker             |
|      Hannah Villa     |    Doctor, general practice    |
| Benjamin Buchanan PhD |  Engineer, civil (consulting)  |
|      Marcia Kelly     |           Homeopath            |
|      Amanda Bruce     |      Early years teacher       |
+-----------------------+--------------------------------+
+-------------------------------+----------+----------+-------------+---------+
|            Address            |   Lat    |   Long   |     City    | Country |
+-------------------------------+----------+----------+-------------+---------+
| 0021 Sandra Drive\nSchroed... |  23.18   |  88.58   |   Aistala   |    IN   |
|   USNS Thomas\nFPO AA 48138   | 15.5439  | 73.7553  |  Calangute  |    IN   |
| Unit 3094 Box 0713\nDPO AA... |  23.18   |  88.58   |   Aistala   |    IN   |
| 6562 Antonio Viaduct Suite... | 28.92694 | 78.23456 |  Bachhraon  |    IN   |
| 22189 Marcus Gardens\nHunt... | 23.49668 | 86.68363 |     Adra    |    IN   |
| 2822 Wright Springs Suite ... | 15.45144 | 78.14797 | Betamcherla |    IN   |
| 308 Katherine Falls Apt. 6... | 25.49043 | 85.94001 |    Teghra   |    IN   |
| 1406 Campbell Fall\nRobert... | 26.11527 | 86.59509 |    Supaul   |    IN   |
| 9807 Bailey Turnpike\nGood... | 14.62072 | 74.83554 |    Sirsi    |    IN   |
| 9318 Hughes Land Apt. 345\... | 21.46527 | 83.97573 |  Sambalpur  |    IN   |
+-------------------------------+----------+----------+-------------+---------+
+--------------+
|   Timezone   |
+--------------+
| Asia/Kolkata |
| Asia/Kolkata |
| Asia/Kolkata |
| Asia/Kolkata |
| Asia/Kolkata |
| Asia/Kolkata |
| Asia/Kolkata |
| Asia/Kolkata |
| Asia/Kolkata |
| Asia/Kolkata |
+--------------+
[100 rows x 8 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [67]:
import turicreate as tc
actions = tc.SFrame.read_csv('dataset.csv')

Finished parsing file /home/jospaulshajan/InOut6.0/travel_guider/travel_guider/dataset.csv

Parsing completed. Parsed 100 lines in 0.237335 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[str,str,str,str,str,float,float,str,str,str]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file /home/jospaulshajan/InOut6.0/travel_guider/travel_guider/dataset.csv

Parsing completed. Parsed 10000 lines in 0.088527 secs.

In [68]:
model = tc.recommender.create(actions, 'Name', 'City')

Warning: Ignoring columns gender, prefeerences, Job, Address, Lat, Long, Country, Timezone;

 To use one of these as a rating column, specify the column name to be used as target

    and use a method that allows the use of a target.

Preparing data set.

    Data has 10000 observations with 9373 users and 69 items.

    Data prepared in: 0.098228s

Training model from provided data.

Gathering per-item and per-user statistics.

+--------------------------------+------------+

| Elapsed Time (Item Statistics) | % Complete |

+--------------------------------+------------+

| 647us                          | 10.5       |

| 6.861ms                        | 100        |

+--------------------------------+------------+

Setting up lookup tables.

Processing data in one pass using dense lookup tables.

+-------------------------------------+------------------+-----------------+

| Elapsed Time (Constructing Lookups) | Total % Complete | Items Processed |

+-------------------------------------+------------------+-----------------+

| 7.556ms                             | 0                | 0               |

| 11.988ms                            | 100              | 69              |

+-------------------------------------+------------------+-----------------+

Finalizing lookup tables.

Generating candidate set for working with new users.

Finished training in 0.016429s

In [69]:
type(model.recommend())

recommendations finished on 1000/9373 queries. users per second: 76893.5

recommendations finished on 2000/9373 queries. users per second: 84406

recommendations finished on 3000/9373 queries. users per second: 87486.5

recommendations finished on 4000/9373 queries. users per second: 90424.1

recommendations finished on 5000/9373 queries. users per second: 93011.1

recommendations finished on 6000/9373 queries. users per second: 92260.9

recommendations finished on 7000/9373 queries. users per second: 91840.6

recommendations finished on 8000/9373 queries. users per second: 90518.2

recommendations finished on 9000/9373 queries. users per second: 88735.5

turicreate.data_structures.sframe.SFrame

In [70]:
model.recommend()

recommendations finished on 1000/9373 queries. users per second: 53435.9

recommendations finished on 2000/9373 queries. users per second: 62272.3

recommendations finished on 3000/9373 queries. users per second: 71086.7

recommendations finished on 4000/9373 queries. users per second: 77438.3

recommendations finished on 5000/9373 queries. users per second: 82982

recommendations finished on 6000/9373 queries. users per second: 87605.3

recommendations finished on 7000/9373 queries. users per second: 90525.8

recommendations finished on 8000/9373 queries. users per second: 87229.6

recommendations finished on 9000/9373 queries. users per second: 88594

Columns:
	Name	str
	City	str
	score	float
	rank	int

Rows: 93730

Data:
+-------------+----------------+----------------------+------+
|     Name    |      City      |        score         | rank |
+-------------+----------------+----------------------+------+
| Erin Cortez |    Chharra     | 0.010948896408081055 |  1   |
| Erin Cortez |     Amreli     | 0.00724637508392334  |  2   |
| Erin Cortez |   Gariadhar    | 0.006825923919677734 |  3   |
| Erin Cortez |      Uran      | 0.006825923919677734 |  4   |
| Erin Cortez |    Rajaori     | 0.003731369972229004 |  5   |
| Erin Cortez | Sathyamangalam | 0.003717482089996338 |  6   |
| Erin Cortez |     Bhuban     | 0.003717482089996338 |  7   |
| Erin Cortez |    Kangayam    | 0.003690063953399658 |  8   |
| Erin Cortez |    Dombivli    | 0.003663003444671631 |  9   |
| Erin Cortez |     Barbil     | 0.003663003444671631 |  10  |
+-------------+----------------+----------------------+------+
[93730 rows x 4 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.