## Data Conversion to CSV files 

We generated 100 data points using faker library. We need more features like:
- Age
- E

In [2]:
from faker import Faker
from faker.providers import internet, geo
import pandas as pd

faker = Faker()
df = []
for n in range(100):
    df.append({'Name':faker.name(), 'Job':faker.job() ,'Address':faker.address(), 'Co-ordinates':faker.local_latlng(country_code="IN", coords_only=False)})

df =  pd.DataFrame(df)
print(df)

                    Name                             Job  \
0            Kevin Joyce         Forest/woodland manager
1        Miguel Sandoval                      Oncologist
2         Rebecca Parker      Nurse, learning disability
3             Sally Cruz  Television/film/video producer
4      Kenneth Patterson                  Cytogeneticist
..                   ...                             ...
95  Christopher Jacobson                    Risk manager
96          Vanessa Cook                   Archaeologist
97       Danielle Garcia            Engineer, automotive
98           Terry Bruce                 Records manager
99          Scott Wilson                      Oncologist

                                              Address  \
0          0021 Sandra Drive\nSchroederstad, ID 44958
1                           USNS Thomas\nFPO AA 48138
2                    Unit 3094 Box 0713\nDPO AA 13320
3   6562 Antonio Viaduct Suite 229\nNew Larryside,...
4          22189 Marcus Gardens\nHuntertown, WI 74390
..                                                ...
95   96347 Lang Ferry Suite 632\nAutumnstad, OH 62011
96  099 Matthew Bridge Apt. 780\nWest Tanya, ND 05641
97          55007 Taylor Cliff\nJosephmouth, IA 95558
98            179 Randall Curve\nKellyburgh, CT 42052
99                   Unit 1846 Box 0850\nDPO AA 42592

                                         Co-ordinates
0           (23.18, 88.58, Aistala, IN, Asia/Kolkata)
1     (15.5439, 73.7553, Calangute, IN, Asia/Kolkata)
2           (23.18, 88.58, Aistala, IN, Asia/Kolkata)
3   (28.92694, 78.23456, Bachhraon, IN, Asia/Kolkata)
4        (23.49668, 86.68363, Adra, IN, Asia/Kolkata)
..                                                ...
95     (21.34222, 71.30633, Kundla, IN, Asia/Kolkata)
96  (15.45144, 78.14797, Betamcherla, IN, Asia/Kol...
97      (22.75218, 72.68533, Kheda, IN, Asia/Kolkata)
98  (21.53889, 71.57737, Gariadhar, IN, Asia/Kolkata)
99   (34.08565, 74.80555, Srinagar, IN, Asia/Kolkata)

[100 rows x 4 columns]

In [3]:
df.head(5)

,Name,Job,Address,Co-ordinates
0,Kevin Joyce,Forest/woodland manager,"0021 Sandra Drive\nSchroederstad, ID 44958","(23.18, 88.58, Aistala, IN, Asia/Kolkata)"
1,Miguel Sandoval,Oncologist,USNS Thomas\nFPO AA 48138,"(15.5439, 73.7553, Calangute, IN, Asia/Kolkata)"
2,Rebecca Parker,"Nurse, learning disability",Unit 3094 Box 0713\nDPO AA 13320,"(23.18, 88.58, Aistala, IN, Asia/Kolkata)"
3,Sally Cruz,Television/film/video producer,"6562 Antonio Viaduct Suite 229\nNew Larryside,...","(28.92694, 78.23456, Bachhraon, IN, Asia/Kolkata)"
4,Kenneth Patterson,Cytogeneticist,"22189 Marcus Gardens\nHuntertown, WI 74390","(23.49668, 86.68363, Adra, IN, Asia/Kolkata)"

In [9]:
df['Co-ordinates'].str[2]

0         Aistala
1       Calangute
2         Aistala
3       Bachhraon
4            Adra
         ...
95         Kundla
96    Betamcherla
97          Kheda
98      Gariadhar
99       Srinagar
Name: Co-ordinates, Length: 100, dtype: object

In [13]:
# Best way to clean data
df['Lat'], df['Long'], df['City'], df['Country'], df['Timezone'] = zip(*df['Co-ordinates'])

In [16]:
del df['Co-ordinates']

In [19]:
#df.to_csv(index=False)